.clearfix,
.column .column-header,
.column .column-header .control-group {
  zoom: 1;
}
.clearfix:before,
.column .column-header:before,
.column .column-header .control-group:before,
.clearfix:after,
.column .column-header:after,
.column .column-header .control-group:after {
  content: "";
  display: table;
}
.clearfix:after,
.column .column-header:after,
.column .column-header .control-group:after {
  clear: both;
}
.no-padding {
  padding: 0 !important;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.customselect2.w92 {
  width: 89px !important;
}
.customselect2.w160 {
  width: 160px !important;
}
.customselect2.w100 {
  width: 100px !important;
}
.customselect2.w185 {
  width: 185px !important;
}
.customselect2.w118 {
  width: 118px !important;
}
.customselect2.w143 {
  width: 143px !important;
}
a.customselect2:after {
  position: absolute;
  content: "";
  height: 35px;
  width: 1px;
  background: #cdcdcd;
  top: 0;
  right: 38px;
}
.add-condition {
  cursor: pointer;
  display: inline-block;
}
.add-condition span,
.add-condition .icon-plus {
  display: inline-block;
  vertical-align: middle;
}
.add-condition span {
  color: #00aeef;
  font-size: 12px;
  font-style: italic;
  text-decoration: underline;
}
.add-condition .icon-plus {
  background: url("../images/plus.png") no-repeat;
  width: 16px;
  height: 16px;
  content: "";
}
.segment-item {
  position: relative;
}
.segment-item.with-icon-right {
  display: inline-block;
  padding-right: 43px;
}
.segment-item .button-close {
  position: absolute;
  background: url("../images/close.png") no-repeat;
  width: 16px;
  height: 16px;
  left: 0;
  top: 11px;
  cursor: pointer;
}
.segment-item .button-close.icon-trash {
  left: auto;
  right: 0;
  background: url("../images/trash.png") no-repeat;
}
.segment-item input.icon-calendar {
  background: url("../images/calendar.png") no-repeat;
  background-position: 89%;
}
.legend {
  margin-left: 30px;
  padding: 25px;
  border: 1px solid #cacaca;
  font-weight: normal;
}
.column {
  border: 1px solid #c8c8c8;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.column .column-header,
.column ul.column-content li {
  padding: 15px 20px;
}
.column .column-header {
  padding-top: 23px;
}
.column .column-header .control-group .field {
  padding-right: 57px;
}
.column .column-header .control-group .field.has-tooltip {
  position: relative;
}
.column .column-header .control-group .field.has-tooltip .tooltip {
  position: absolute;
  top: 10px;
  right: 0;
}
.column .column-header .control-group .field .custom-formlabel {
  line-height: 100%;
  margin-bottom: 11px;
  height: auto;
}
.column .column-header .control-group .field .right {
  font-size: 12px;
  margin-left: 25px;
  margin-top: 5px;
}
.column .column-header .control-group .field .right:last-child {
  margin-left: 0;
}
.column .column-content {
  list-style: none;
  margin: 0;
}
.column .column-content li {
  border-top: 1px solid #c8c8c8;
  font-weight: bold;
}
#text-and-tags #text {
  float: left;
  width: 350px;
}
#text-and-tags #text textarea {
  margin: 0px 0px 20px;
}
#text-and-tags #text strong {
  font-style: italic;
}
#text-and-tags #text span.num {
  color: #00a9e7;
  font-weight: bold;
}
#text-and-tags #text div {
  padding: 30px 0px 0px;
}
#text-and-tags #tags {
  width: 358px;
  height: auto;
  overflow: hidden;
  float: left;
  margin: 24px 0px 0px 16px;
  border: solid 1px #ccc;
}
#text-and-tags #tags div {
  padding: 15px 20px;
}
#text-and-tags #tags div ul {
  margin: 10px 0px 0px 30px;
  padding: 0px;
  list-style: none;
  height: auto;
  overflow: hidden;
}
#text-and-tags #tags div ul li {
  display: block;
  float: left;
  width: 137px;
}
#text-and-tags #tags div ul li a {
  color: #fff;
  background: #00a9e7;
  font-weight: bold;
  text-decoration: none;
  display: block;
  float: left;
  padding: 2px 6px;
  margin: 0 4px 4px 0;
  width: auto;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.contentall {
  width: 100%;
}
.contentall .mg-top-10 {
  margin-top: 10px;
}
.contentall h2 {
  margin: 15px 0px 25px;
}
.contentall form {
  margin-left: 0px !important;
}
.contentall form .bartop {
  padding: 7px 20px 4px;
  margin-bottom: 8px;
}
.contentall form .bartop .control-group label.control-label {
  width: auto;
  margin: 3px 10px 0px 0px;
  font-weight: bold;
  float: left;
  display: block;
}
.contentall form .bartop .control-group .downbox {
  float: left;
  margin: 0px 10px 0px 0px;
}
.contentall form .bartop .control-group #add-list-numbers {
  float: right;
  margin: 5px 0px 0px;
}
.contentall form .bartop .control-group #add-list-numbers a {
  font-weight: bold;
}
.contentall form .placeholder {
  margin: 1px 0px 0px 14px;
  width: 116px;
  text-align: center;
  padding-right: 28px;
  vertical-align: top;
}
.contentall form .placeholder.w162 {
  width: 162px;
}
.new-segment {
  padding-left: 4px;
  padding-top: 27px;
  padding-bottom: 35px;
  position: relative;
}
.new-segment .w92 {
  margin-left: 9px;
}
.new-segment .inpt {
  margin-left: 12px;
  width: 180px;
}
.new-segment .add-condition {
  top: 37px;
  position: absolute;
  right: 76px;
  z-index: 50;
}
.new-segment.static .add-condition {
  position: static;
  margin-top: 10px;
}
.match-columns {
  padding-bottom: 150px;
}
.match-columns .title {
  margin: 12px 0 20px;
  letter-spacing: 0;
}
.match-columns .legend {
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 12px;
  margin-bottom: 30px;
}
.match-columns .container-columns {
  padding: 18px;
  border: 1px solid #c8c8c8;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.match-columns .container-columns .scroll {
  width: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.match-columns .container-columns .scroll .column {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  width: 280px;
  margin-bottom: 36px;
}
.match-columns .container-columns .scroll .column:last-child {
  margin-right: 0;
}
.match-columns .container-columns .scroll .column .column-header .control-group {
  margin-bottom: 15px;
}
.match-columns .container-columns .scroll .column .column-header .control-group:last-child {
  margin-bottom: 0;
}
.match-columns .box-buttons {
  margin-top: 23px;
}
.match-columns .swiper-scrollbar {
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 100%;
  height: 10px;
}
.match-columns .swiper-scrollbar .swiper-scrollbar-drag {
  background: #9b9b9b;
}
.match-columns .swiper-scrollbar .swiper-scrollbar-drag:after,
.match-columns .swiper-scrollbar .swiper-scrollbar-drag:before {
  position: absolute;
  left: 2px;
  top: 1px;
  content: "";
  border-color: transparent;
  border-style: solid;
  border-width: 4px;
  border-right-color: #fff;
}
.match-columns .swiper-scrollbar .swiper-scrollbar-drag:before {
  left: auto;
  right: 2px;
  border-right-color: transparent;
  border-left-color: #fff;
}
.new-segment-layout .customselect2 {
  margin-left: 6px;
}
.bartop.all-contacts-layout .filtertable {
  border: none !important;
}
.bartop.all-contacts-layout .filtertable .control-group.search-box {
  width: 650px;
}
.bartop.all-contacts-layout .filtertable .control-group.search-box .control .input-prepend .control-label {
  padding-top: 5 !important;
}
.bartop.all-contacts-layout .filtertable .control-group.search-box .control .input-prepend .control-label input {
  margin-top: 0 !important;
}
.bartop.all-contacts-layout .filtertable span.add-on {
  float: left;
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important;
}
#round-corner {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: solid 1px #ccc;
}
#round-corner .tablesaw {
  width: 130%;
}
#round-corner .tablesaw thead.th40 th {
  height: 40px;
}
#round-corner .footer {
  margin: 0 auto 0 auto;
  padding: 8px 50px;
  border: 1px solid #ececec;
  background-color: #f5f5f5;
  position: absolute;
  left: 30px;
  z-index: 0;
  font-weight: 600;
  font-size: 11px;
  color: #9b9b9b;
  line-height: 15px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  width: 820px;
}
#round-corner .footer .pager {
  float: right;
}
.box-title .optiontop.right {
  width: 580px;
}
.box-title .optiontop.right a {
  top: 5px;
}
.box-title .optiontop.right a.ui-selectmenu-dropdown {
  float: left;
  top: 0;
}
.box-title .optiontop.right select {
  float: left;
  width: 140px !important;
}
.tablesaw-advance.minimap .tablesaw-advance-dots {
  float: right;
}
.tablesaw-advance.minimap .tablesaw-advance-dots li {
  float: left;
  margin: 0px 5px 0px 0px;
}
